.crud {
    z-index: 1;
}

.left {
        position: fixed;
        float:left;
        height:100vh;
        background: #26587A;
        display: inline-block;
        white-space: nowrap;
        width: 50px;
        transition: width .5s ;
        z-index: 2;
}

.logout{
	background-color: #292C41;
}

.menu
{
background-color: #26587A;
border-bottom: 2px solid #292C41;
width:100%;
height: auto;
position: relative;
margin: 0px;
z-index: 2;
}

.menu  .navbar-nav >  li >  a
{
font-size: 13px;
color: white;
padding: 10px 35px;

}
.menu  .navbar-nav >  li >  a:hover
{
background-color: #3B3F5E;
}

.menu  .navbar-nav >  li >  a:focus
{
background-color: #3B3F5E;
}

.menu .glyphicon {
        width:20px;
        color:#fff;
    }

.navbar-header > a
{
font-family: Arial;
padding: 0px;
margin: 0px;
text-decoration: none;
color: white;
font-size: 25px;
padding: 0px 20px;
font-weight: bold;
}
.navbar-header > a:hover
{
text-decoration: none;
color: white;
}
    
.left:hover {
        width: 250px;
    }    
    
.item:hover {
        background-color:#2D3047;
        }
        
.left .glyphicon {
        margin:15px;
        width:20px;
        color:#fff;
    }
    
span.glyphicon.glyphicon-refresh{
    font-size:17px;
    vertical-align: middle !important;
    }
    
.item {
        height:50px;
        overflow:hidden;
        color:#fff;
    }

.header-tools .btn-primary {
  background-color:#26587A;
  border-color:#26587A;
  color:#FFFFFF;
}

.text-primary{
    color:#fff !important;
}